* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, serif;
    background-color: #2B2D38;
    margin: 2em 10.5em;
    color: white;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 4.5em;
    align-items: center;
    margin-bottom: 10em;

    li a {
        text-decoration: none;
        color: white;
    }

    span {
        color: #DB2A6B;
    }

    :nth-of-type(1) {
        margin-right: auto;
        font-size: 1.4em;
    }

    :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(6) {
        font-size: 0.8em;
    }

    :nth-of-type(2):active {
        text-decoration: underline;
    }
}


